<script setup>
  import siteHeader from './../components/siteHeader.vue';
  import indexIntro from './../components/index/indexIntro.vue';
  import indexSkills from './../components/index/indexSkills.vue';
  import indexProjects from './../components/index/indexProjects.vue';
  import indexArt from './../components/index/indexArt.vue';
  import indexConnect from './../components/index/indexConnect.vue';
  import indexExtras from './../components/index/indexExtras.vue';
</script>

<template>
  <indexIntro />
  <indexSkills />
  <indexProjects />
  <indexArt />
  <indexConnect />
  <indexExtras />
</template>