<script>
  export default {
    mounted() {
      import("/src/scripts/urlOpen.js");
    },
  };
</script>
<template>
  <main class="max-w-6xl mx-auto mt-10 px-4">
    <h2 class="text-3xl mb-4">URL Opener</h2>
    <div class="flex flex-col w-4/5 mx-auto">
      <div class="w-full">
        <input type="text" id="input" placeholder="Enter URL here..." class="p-2 mr-2 w-4/5 rounded-md bg-white text-black" />
        <button onclick="redirectToUrl()" class="p-2 w-16 bg-blue-500 text-white rounded-md">Open</button>
      </div>
      <p id="status-bar" style="color: white;" class="mt-2">Loading...</p>
    </div>
  </main>
</template>