<template>
  <div id="intro">
    <div class="max-w-6xl mx-auto p-8">
      <div class="flex flex-col sm:flex-row items-center">
        <div class="py-6">
          <p class="text-3xl sm:text-base md:text-3xl lg:text-4xl text-center align-middle leading-8">
            Hi, my name is Drake! I am a 15 year old front-end developer, linux user, furry, cybersecurity enthusiast, and privacy advocate. I am a big fan of open source software and I love to make things
          </p>
        </div>
        <div class="mx-10 flex items-center justify-center">
          <div>
            <img loading="eager" src="/img/art/cutout2echo.webp" alt="fox" class="w-full h-auto rounded-3xl" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>