<template>
  <div id="projects">
    <section class="max-w-6xl mx-auto p-8">
      <h2 class="text-3xl mb-4">Cool stuff I made</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <a referrerpolicy="no-referrer" href="https://codeberg.org/3kh0/website-v4/">
          <div class="bg-gray-700 p-4 rounded-xl shadow-lg hover:bg-gray-800 transition duration-300">
            <h3 class="text-xl font-semibold mb-2">3kh0 website</h3>
            <p class="text-sm">Vastly popular website with games</p>
          </div>
        </a>
        <a referrerpolicy="no-referrer" href="https://codeberg.org/3kh0/ChessSword">
          <div class="bg-gray-700 p-4 rounded-xl shadow-lg hover:bg-gray-800 transition duration-300">
            <h3 class="text-xl font-semibold mb-2">Chess Sword</h3>
            <p class="text-sm">Chess bot to highlight the best moves</p>
          </div>
        </a>
        <a referrerpolicy="no-referrer" href="https://codeberg.org/3kh0/3kh0-Assets">
          <div class="bg-gray-700 p-4 rounded-xl shadow-lg hover:bg-gray-800 transition duration-300">
            <h3 class="text-xl font-semibold mb-2">3kh0 Assets</h3>
            <p class="text-sm">Tons of game files for free use</p>
          </div>
        </a>
        <a referrerpolicy="no-referrer" href="https://codeberg.org/3kh0/soundboard">
          <div class="bg-gray-700 p-4 rounded-xl shadow-lg hover:bg-gray-800 transition duration-300">
            <h3 class="text-xl font-semibold mb-2">Soundboard</h3>
            <p class="text-sm">Simple online soundboard app</p>
          </div>
        </a>
        <a referrerpolicy="no-referrer" href="https://github.com/3kh0/gamejamsnake">
          <div class="bg-gray-700 p-4 rounded-xl shadow-lg hover:bg-gray-800 transition duration-300">
            <h3 class="text-xl font-semibold mb-2">Arcade Snake</h3>
            <p class="text-sm">Simple version of snake for the web</p>
          </div>
        </a>
        <a referrerpolicy="no-referrer" href="https://codeberg.org/3kh0/echodown">
          <div class="bg-gray-700 p-4 rounded-xl shadow-lg hover:bg-gray-800 transition duration-300">
            <h3 class="text-xl font-semibold mb-2">Echo Down</h3>
            <p class="text-sm">A fake DDoS/Network stresser</p>
          </div>
        </a>
      </div>
    </section>
  </div>
</template>