<template>
  <div id="skills">
    <div class="max-w-6xl mx-auto p-8">
      <h2 class="text-3xl mb-4">Things I can do</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 bg-gray-700 rounded-lg p-4">
        <div class="skill mb-4">
          <h3 class="mb-2 text-lg text-white flex items-center"><i class="fab fa-html5 mr-2"></i> HTML <span class="ml-2 text-sm text-gray-400">99%</span></h3>
          <div class="w-full bg-gray-300 rounded-lg overflow-hidden">
            <div class="h-4 bg-green-500 w-[99%]"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <h3 class="mb-2 text-lg text-white flex items-center"><i class="fab fa-square-js mr-2"></i> Javascript <span class="ml-2 text-sm text-gray-400">95%</span></h3>
          <div class="w-full bg-gray-300 rounded-lg overflow-hidden">
            <div class="h-4 bg-green-500 w-[95%]"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <h3 class="mb-2 text-lg text-white flex items-center"><i class="fab fa-node-js mr-2"></i> NodeJS <span class="ml-2 text-sm text-gray-400">90%</span></h3>
          <div class="w-full bg-gray-300 rounded-lg overflow-hidden">
            <div class="h-4 bg-green-500 w-[90%]"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <h3 class="mb-2 text-lg text-white flex items-center"><i class="fab fa-git-alt mr-2"></i> Git <span class="ml-2 text-sm text-gray-400">90%</span></h3>
          <div class="w-full bg-gray-300 rounded-lg overflow-hidden">
            <div class="h-4 bg-green-500 w-[90%]"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <h3 class="mb-2 text-lg text-white flex items-center"><i class="fab fa-python mr-2"></i> Python <span class="ml-2 text-sm text-gray-400">80%</span></h3>
          <div class="w-full bg-gray-300 rounded-lg overflow-hidden">
            <div class="h-4 bg-green-500 w-[80%]"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <h3 class="mb-2 text-lg text-white flex items-center"><i class="fab fa-linux mr-2"></i> Linux <span class="ml-2 text-sm text-gray-400">75%</span></h3>
          <div class="w-full bg-gray-300 rounded-lg overflow-hidden">
            <div class="h-4 bg-green-500 w-[75%]"></div>
          </div>
        </div>
        <div class="skill mb-4 relative" id="css">
          <h3 class="mb-2 text-lg text-white flex items-center"><i class="fab fa-css3 mr-2"></i> CSS <span class="ml-2 text-sm text-gray-400">65%</span></h3>
          <div class="w-full bg-gray-300 rounded-lg overflow-hidden relative">
            <div class="h-4 bg-green-500 w-[65%]"></div>
          </div>
        </div>
        <div class="skill mb-4">
          <h3 class="mb-2 text-lg text-white flex items-center"><i class="fa fa-server mr-2"></i> Networking <span class="ml-2 text-sm text-gray-400">40%</span></h3>
          <div class="w-full bg-gray-300 rounded-lg overflow-hidden">
            <div class="h-4 bg-green-500 w-[40%]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>