<template>
  <div id="connect">
    <section class="max-w-6xl mx-auto p-8">
      <h2 class="text-3xl mb-4">Stalk me everywhere</h2>
      <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-4">
        <div>
          <router-link to="mailto:echo-the-coder@tuta.io" target="_blank">
            <button class="bg-green-500 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-green-600 transition duration-300 w-full"><i class="fas fa-envelope fa-lg"></i> Email</button>
          </router-link>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://discord.com/users/1056383394470182922" target="_blank">
            <button class="bg-blue-600 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-blue-700 transition duration-300 w-full"><i class="fab fa-discord fa-lg"></i> Discord</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://steamcommunity.com/id/3kh0_" target="_blank">
            <button class="bg-black text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-gray-800 transition duration-300 w-full"><i class="fab fa-steam fa-lg"></i> Steam</button>
          </a>
        </div>
        <div>
          <a rel="me" href="https://defcon.social/@3kh0" target="_blank">
            <button class="bg-purple-500 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-purple-600 transition duration-300 w-full"><i class="fab fa-mastodon fa-lg"></i> Mastodon</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://github.com/3kh0" target="_blank">
            <button class="bg-black text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-gray-800 transition duration-300 w-full"><i class="fab fa-github fa-lg"></i> GitHub</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://odysee.com/@3kh0:a" target="_blank">
            <button class="bg-red-600 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-red-700 transition duration-300 w-full"><i class="fa-brands fa-odysee fa-lg"></i> Odysee</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://t.me/echoontop" target="_blank">
            <button class="bg-blue-600 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-blue-700 transition duration-300 w-full"><i class="fab fa-telegram fa-lg"></i> Telegram</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://last.fm/user/realecho" target="_blank">
            <button class="bg-red-600 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-red-700 transition duration-300 w-full"><i class="fab fa-lastfm fa-lg"></i> Last.fm</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://soundcloud.com/3kh0" target="_blank">
            <button class="bg-orange-500 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-orange-600 transition duration-300 w-full"><i class="fab fa-soundcloud fa-lg"></i> SoundCloud</button>
          </a>
        </div>
        <div>
          <router-link to="/extra/crypto" target="_blank">
            <button class="bg-yellow-500 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-yellow-600 transition duration-300 w-full"><i class="fa-solid fa-coins"></i> Crypto</button>
          </router-link>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://youtube.com/@3kh0" target="_blank">
            <button class="bg-red-500 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-red-600 transition duration-300 w-full"><i class="fab fa-youtube fa-lg"></i> YouTube</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://gitlab.com/3kh0" target="_blank">
            <button class="bg-orange-500 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-orange-600 transition duration-300 w-full"><i class="fab fa-gitlab fa-lg"></i> GitLab</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://bsky.app/profile/3kh0.bsky.social" target="_blank">
            <button class="bg-blue-500 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-blue-600 transition duration-300 w-full"><i class="fas fa-cloud fa-lg"></i> Bluesky</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://github.com/sponsors/3kh0" target="_blank">
            <button class="bg-pink-500 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-pink-600 transition duration-300 w-full"><i class="fas fa-heart fa-lg"></i> Sponsors</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://ftp.3kh0.net" target="_blank">
            <button class="bg-green-500 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-green-600 transition duration-300 w-full"><i class="fas fa-server fa-lg"></i> File server</button>
          </a>
        </div>
        <div>
          <a referrerpolicy="no-referrer" href="https://kasm.3kh0.net" target="_blank">
            <button class="bg-blue-500 text-white text-lg shadow-lg py-2 px-4 rounded-xl hover:bg-blue-600 transition duration-300 w-full"><i class="fas fa-desktop fa-lg"></i> Kasm server</button>
          </a>
        </div>
      </div>
    </section>
  </div>
</template>